:root {
    --primary: 0, 138, 204;
    --primary-active: 0, 101, 148;
    --primary-light: 67, 168, 214;
    --secondary: 190, 97, 251;
    --tertiary: 251, 144, 97;
    --white: #fff;
    --gray-lightest: #eee;
    --gray-light: #ccc;
    --gray-darkest: #434f68;
    --shadow-small: rgba(0, 0, 0, 0.1) -1px 1px 4px 2px;
    --shadow-smallest: rgba(0, 0, 0, 0.1) -1px 1px 3px 1px;
}

.test {
    color: rgb(67, 168, 214);
}