.article-card-container {
    background: #fff;
    box-shadow: var(--shadow-small);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.image-category-section {
    widows: 100%;
    position: relative;
}

.image-category-section > img {
    width: 50%;
    height: 100%;
    filter: grayscale(100%);
}

.colour-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;                        
    transform: translate(-50%, -50%);
}

.colour-overlay > .category-label {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray-darkest);
}

.author-title-section {

}

.author-title-section > label {
    max-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.author-title-section > h2 {
    font-size: 1.25rem;
}

.icons svg {
    color: var(--gray-darkest);
    cursor: pointer;
}

.ph, .gr-qc, .physics, .math {
    background-color: rgba(var(--primary), 0.5);
}
.bio, .stat, .econ, .fin {
    background-color: rgba(var(--secondary), 0.5);
}
.cs, .eess {
    background-color: rgba(var(--tertiary), 0.5);
}