.grayscale-image {
    filter: grayscale(100%);
}

.cursor-pointer {
    cursor: pointer;
}

.colour-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;                        
    transform: translate(-50%, -50%);
}

.colour-overlay > .category-label {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--gray-darkest);
}

.icons svg {
    color: var(--gray-darkest);
    cursor: pointer;
}

.border-radius-bottom {
    border-radius: 0 0 2rem 2rem;
}

.ph, .gr-qc, .physics, .math {
    background-color: rgba(var(--primary), 0.5);
}
.bio, .stat, .econ, .fin {
    background-color: rgba(var(--secondary), 0.5);
}
.cs, .eess {
    background-color: rgba(var(--tertiary), 0.5);
}