.MenuItem {
    display: block;
    padding: 0.5rem;
    border: 1px solid #282c34;
    color: #ccc;
    transition: 0.2s;
    border-radius: 0.5rem 0 0 0.5rem;
    user-select: none;
    cursor: pointer;
}

.MenuItem > svg {
    margin-right: 1rem;
    margin-bottom: 0.2em;
}

.MenuItem:hover {
    color: rgb(164, 230, 247);
    text-decoration: none;
}

.MenuItem.Selected {
    border: 1px solid #ccc;
    color: #61dafb;
}