.recent-search-pill {
    background-color: rgb(var(--secondary));
    padding:  0 0.75rem;
    font-weight: 600;
    color: var(--white);
    white-space: nowrap;
}

.search-box {
    width: calc(70% - 300px);
}