.menu-item {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: var(--gray-darkest);
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.menu-item > svg {
    margin-right: 0.35rem;
    margin-top: 0.25rem;
}

.menu-item:hover {
    color: rgba(var(--primary), 0.5);
    text-decoration: none;
}

.menu-item.selected {
    color: rgb(var(--primary));
}

.menu-item > .link-name {
    transition: 0.5s;
    max-width: 0ch;
    overflow: hidden;
    display: inline-flex;
}

.menu-item.selected > .link-name {
    max-width: 80ch;
}