.menu-item {
    display: block;
    color: var(--gray-lightest);
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.menu-item > svg {
    margin-bottom: 0.2em;
    margin-right: 0.5rem;
}

.menu-item:hover {
    color: rgba(var(--primary-light), 0.5);
    text-decoration: none;
}

.menu-item.selected {
    color: rgb(var(--primary-light));
}

.menu-item > .link-name {
    transition: 0.5s;
    max-width: 0ch;
    overflow: hidden;
    display: inline-flex;
}

.menu-item.selected > .link-name {
    max-width: 80ch;
}