.MenuItem {
    display: block;
    color: #ccc;
    transition: 0.2s;
    user-select: none;
    cursor: pointer;
}

.MenuItem > svg {
    margin-bottom: 0.2em;
    margin-right: 0.5rem;
}

.MenuItem:hover {
    color: rgb(164, 230, 247);
    text-decoration: none;
}

.MenuItem.Selected {
    color: #61dafb;
}

.MenuItem > .LinkName {
    transition: 0.5s;
    max-width: 0ch;
    overflow: hidden;
    display: inline-flex;
}

.MenuItem.Selected > .LinkName {
    max-width: 80ch;
}