.social-icon-container {
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-darkest);
    cursor: pointer;
    margin: 0.35rem;
}

.social-icon-container:hover>.social-icon {
    color: rgb(var(--primary-light));
}

.social-icon {
    color: var(--gray-lightest);
}

.about-panel {
    max-width: 30rem;
    background: #fff;
    box-shadow: var(--shadow-smallest);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-flex {
    display: flex;
    justify-content: center;
}

.ewan {
    font-size: 1.5rem;
    color: rgb(var(--primary));
    margin-top: 1rem;
}

.job-title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.profile-image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    box-shadow: var(--shadow-small);
}