.social-icon-container {
    border-radius: 1rem;
    width: 2rem;
    padding-top: 0.1rem;
    height: 2rem;
    text-align: center;
    background-color: var(--gray-darkest);
    cursor: pointer;
}

.social-icon-container:hover>.social-icon {
    color: rgb(var(--primary-light));
}

.social-icon {
    color: var(--gray-lightest);
}

.about-panel {
    max-width: 30rem;
    border-radius: 1rem;
    border: 1px solid var(--gray-lightest);
    background-color: var(--white);
}