.title {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 640px) {
    .title {
        font-size: 6vw;
    }
}

.title>.first-word {
    color: var(--gray-lightest);
    font-weight: 700;
}

.title>.second-word {
    color: var(--white);
    font-weight: 300;
}

.site-header {
    background-color: var(--gray-darkest);
}