.Title {
    font-size: 2rem;
    text-align: center;
}

.Title>.FirstWord {
    color: #eee;
    font-weight: 700;
}

.Title>.SecondWord {
    color: #fff;
    font-weight: 300;
}

.SiteHeader {
    background-color: #282c34;
}

.SignUp {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 600;
    border: none;
    color: #282c34;
    background-color: #61dafb;
}

.SignUp > svg {
    margin-bottom: 0.2em;
    margin-right: 0.5rem;
}