.title {
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

@media (max-width: 640px) {
    .title {
        font-size: 7vw;
    }
}

.title>.first-word {
    color: rgb(var(--primary-active));
    font-weight: 700;
}

.title>.second-word {
    color: rgb(var(--primary-active));
    font-weight: 300;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.25rem 2rem 0.75rem;
    user-select: none;
    box-shadow: var(--shadow-small);
    z-index: 1000;
}

.buttons-section {
    display: flex;
    flex-direction: row;
}