:root {
    --primary: 4, 147, 186;
    --primary-active: 3, 107, 135;
    --primary-light: 97, 218, 251;
    --secondary: 190, 97, 251;
    --tertiary: 251, 144, 97;
    --white: #fff;
    --gray-lightest: #eee;
    --gray-light: #ccc;
    --gray-darkest: #282c34;
    --shadow-small: rgba(0, 0, 0, 0.1) -1px 2px 5px 2px;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-container {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background: linear-gradient(180deg, rgba(var(--primary-light), 0.1), rgba(var(--primary-light), 0.5));
}

h1 {
    font-size: 2rem;
}

a {
    color: rgb(var(--primary));
    text-decoration: none;
}

a:hover {
    color: rgb(var(--primary-active));
}

.btn {
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
    padding: 0.6rem 0.7rem 0.5rem;
    cursor: pointer;
    display: flex;
}

.btn>svg {
    margin-right: 0.35rem;
}

.btn-primary {
    background-color: rgb(var(--primary));
    color: var(--gray-lightest);
}

.btn-primary:hover {
    background-color: rgb(var(--primary-active));
}

.btn-primary:focus {
    background-color: rgb(var(--primary-active));
    box-shadow: 0 0 0 0.2rem rgba(var(--primary-light), 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: rgb(var(--primary-active));
}

.form-control:focus {
    border-color: rgb(var(--primary));
    box-shadow: 0 0 0 0.2rem rgba(var(--primary-active), 0.25);
}

.animate-in {
    animation-name: animateIn;
    animation-duration: 350ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }
    100% {
        opacity: 1;
    }
}