.app {
    height: 100vh;
}

.page-container {
    height: 100vh;
    overflow-y: auto;
}

h1 {
    font-size: 2rem;
}

a {
    color: #0493ba;
}

a:hover {
    color: #036b87;
}

.btn {
    font-weight: 600;
    border-radius: 0.5rem;
    border: none;
}

.btn > svg {
    margin-bottom: 0.2em;
    margin-right: 0.5rem;
}

.btn-primary {
    background-color: #0493ba;
    color: #eee;
}

.btn-primary:hover {
    background-color: #036b87;
}

.btn-primary:focus {
    background-color: #036b87;
    box-shadow: 0 0 0 0.2rem rgba(97, 218, 251, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #036b87;
}

.form-control:focus {
    border-color: #0493ba;
    box-shadow: 0 0 0 0.2rem rgba(3, 107, 135, 0.25);
}
