@import "./Assets/fonts/Montserrat.css";

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select {
  font-family: "Montserrat";
}